/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.boardGame {
  border: 3px grey solid;
  border-radius: 3px;
  margin: 0 auto;
}

.player {
  fill: red;
  stroke-width: 0;
}
